@import "tailwindcss";

:root {
  --foreground: #008000;
  --focus: #00800040;
  --disabled: #ffffff50;
  --background: #171717;
  --error: #c00000;
  --alert: #c0c000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-focus: var(--focus);
  --color-error: var(--error);
  --color-alert: var(--alert);
  --color-disabled: var(--disabled);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
  font-size: 1rem;
}
